################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AgoraVai2/.vs/AgoraVai2/FileContentIndex
