<form id="myform" action="Home/Create" method="post">
    <div class="section">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-12 text-center align-self-center">
                    <div class="section  text-center">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Indicador</h4>
                                            <a onclick="HabilitaBotao()" id="whatsapp-share-button" class="whatsapp-share-button" rel="nofollow" target="_blank"></a>
                                            <fieldset>
                                                <div class="form-group mt-2">
                                                    <input type="text" id="nomeIndicador" class="form-style" name="nomeIndicador" placeholder="Nome Completo Do Indicador" required disabled>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="text" id="telefoneIndicador" class="form-style" name="telefoneIndicador" placeholder="Telefone Do Indicador (com DDD)" required disabled>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center align-self-center">
                    <div class="section text-center">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Indicado</h4>
                                            <fieldset>
                                                <div class="form-group">
                                                    <input type="text" id="nome" name="nome" class="form-style" placeholder="Nome Completo Do Indicado" required disabled>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="tel" id="numeroTelefone" class="form-style" name="numeroTelefone" placeholder="Telefone Do Indicado (com DDD)" required disabled>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input id="observacoes" name="observacoes" class="form-style" rows="4" placeholder="Observações" required disabled>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center align-self-center">
                    <div class="botao">
                        <button disabled type="button" class="btn mt-4" id="adicionar">Adicionar +</button>
                    </div>
                    <div class="botao">
                        <button disabled type="submit" class="btn mt-4" id="enviarBotao">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    function HabilitaBotao() {
        var conteudo = encodeURIComponent(document.title + " " + window.location.href);
        document.getElementById("whatsapp-share-button").href = "https://api.whatsapp.com/send?text=" + conteudo;

        document.getElementById("nomeIndicador").removeAttribute("disabled");
        document.getElementById("telefoneIndicador").removeAttribute("disabled");
        document.getElementById("nome").removeAttribute("disabled");
        document.getElementById("numeroTelefone").removeAttribute("disabled");
        document.getElementById("observacoes").removeAttribute("disabled");

        document.getElementById("enviarBotao").removeAttribute("disabled");
    }
</script>
