@model AgoraVai2.ViewModel.IndicadorViewModel

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <div class="section">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-12 text-center align-self-center">
                    <div class="section  text-center">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Indicador</h4>
                                            <a onclick="HabilitaBotao()" id="whatsapp-share-button" class="whatsapp-share-button" rel="nofollow" target="_blank"></a>
                                            <fieldset>
                                                <div class="form-group mt-2">
                                                    <input type="text" id="nomeIndicador" class="form-style" name="nomeIndicador" placeholder="Nome Completo Do Indicador" required disabled>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    <input type="text" id="telefoneIndicador" class="form-style" name="telefoneIndicador" placeholder="Telefone Do Indicador (com DDD)" required disabled>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>

                                                <div class="form-group mt-2">
                                                    <input type="text" id="qtdIndicados" class="form-style" name="qtdIndicados" placeholder="Quantidade de indicados" required>
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="botao">
                                                    <a onclick="addTelefone()" type="button" class="btn mt-4" id="adicionar">Adicionar +</a>
                                                </div>

                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="partialIndicado">
    </div>

    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center align-self-center">

                    <div class="botao">
                        <button disabled type="submit" class="btn mt-4" id="enviarBotao">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    function HabilitaBotao() {
        var conteudo = encodeURIComponent(document.title + " " + window.location.href);
        document.getElementById("whatsapp-share-button").href = "https://api.whatsapp.com/send?text=" + conteudo;

        document.getElementById("nomeIndicador").removeAttribute("disabled");
        document.getElementById("telefoneIndicador").removeAttribute("disabled");

        document.getElementById("enviarBotao").removeAttribute("disabled");
    }

</script>

<script>

    function addTelefone() {

        var qtdIndicados = document.getElementById("qtdIndicados").value;

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ViewAddTelefone", "Home")',
            data: { "qtdIndicados": qtdIndicados },
            success: function (result) {
                console.log(result);
                var teste = document.getElementById("partialIndicado");
                teste.innerHTML = result;
            }
        })
    }
</script>
